@model SampleProject.Web.Models.Person.PeopleListModel
@{
    ViewBag.Title = "All People";
}

<h2>People</h2>

@foreach (var person in Model.People)
{
    <div>
        <h3>@person.Name</h3>
        <blockquote style="padding-left: 20px;">@person.ShortDescription @Html.ActionLink(".. view more", "ViewPerson", "Person", new { personId = person.Id }, null)</blockquote>
    </div>
}
